@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}
body{
    background: black;
    color: #fff;
    scroll-behavior: smooth;
    
}

  .rounded{
    width: 30px;
    height: 30px;
    border: 2px solid #fff;
    border-radius: 50%;
  }
  
  .pointed{
    width: 7px;
    height: 7px;
    background-color: white;
    border-radius: 50%;
  }

.landing-truck-image{
    
    background-image: url("./assets/Opening_Header_Truck._Large.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
}
.aero-header{
    font-weight: 100;
    position: absolute;
    top: 0;
    left: 25%;
    width: 50%;
    margin: auto;
    font-size: 10rem;
    cursor: none;
}
/* p{
  text-align: center;
  width: 100%;
} */
.main-container{
  display:grid;
  grid-template-columns: 50% 50%;
}
.grid-section-1{
  height: 100vh;
  color: #fff;
  background-color:black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-1-header{
  font-size: 4rem;
  font-weight: 500;
  text-transform: uppercase;
  padding-left: 1em;
}
.section-1-para{
  margin-top: 1em;
  padding: 0 3em;
  font-size: 1.5rem;
  font-weight: 200;
  text-align: justify;
  
}
.section-2-img{
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./assets/truck-smoke.jpg");
}